:root{
    --font: #3A3A3A;
}

main{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
body{
    margin:100px;
    font-family: 'Poppins', sans-serif;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    color:  #3A3A3A;
    font-weight: bold;
    font-size: 24px;
}
.nav-options{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 34px;
}

.nav-menu{
    color: var(--font);
    font-weight: 600;
    font-size: 16px;
}
.fas{
    width: 36px;
    height: 36px;
    margin-top: 20px;
}

/* second section */

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 150px;
}


#main-header{
    font-weight: bold;
    font-size: 52px;
    color: var(--font);
}

#camera-photo img{
    padding-left:50%;
    padding-top: 80px;
    width: 440px;
    height: 414px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
}

#camera-photo:hover img{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

.paragraph{
    font-weight: 600;
    font-size: 16px;
}

.link-button{
    text-decoration: none;
    width: 196px;
    height: 44px;
    color: #FFFFFF;
    background-color: #E02C6D; 
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
}

.fa-long-arrow-alt-right{
    width: 16px;
    height: 14px;
    padding-top: 10px;
}

.hr-editor{
    margin-top: 110px;
    margin-bottom: 110px;
}

/* popular collection start */

.popular-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
}

.section-title{
    color: var(--font);
    font-weight: 600;
    font-size: 50px;
    padding-bottom: 25px;
}

.item{
    width: 329px;
    height: 526px;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 15px;
    box-shadow: 7px 7px 30px gray;
    border-radius: 10px;
}

.thumbnail img{
    width: 300px;
    height: 256px;
}

.item-title{
    font-weight: 500;
    font-size: 28px;
    color:  #18191F;
}

.item-price{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    
}

.fa-star, .fa-star-half-alt{
    width: 11.07px;
    height: 10.32px;
    color: #FB8200;
    padding-right: 8px;
}

.item-info span{
    font-family: 'Roboto', sans-serif;
    color: #5E6366;
    font-size: 14px;
    padding-left: 5px;
}

.item-info p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 0.018em;
    color: #787885;
    padding-bottom:30px ;
}

#see-more-button{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);

}

/* Items on sale section */

.sale{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* footer section*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#0f0c36 ;
}

footer h1{
    color:  #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    margin-top: 30px;
}

footer p{
    color: #D9DBE1;
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
}

.social-media{
    color:  #FFFFFF;
    width: 20.07px;
    height: 20.07px;
    padding: 10px 5px 5px 10px;
    margin: 20px 10px 40px 10px; 
    background-color: #292652;
    border-radius: 50%;
}

/* media query */

/* mobile devices */

@media only screen and (max-width: 688px){
    body{
        margin: 30px;
    }
    #navbar{
        display: none;
    }
    #camera-photo img{
        padding-left:0;
        width: 340px;
        height:314px;
        background-image: none;

    }
     .popular-collections, .sale{
        width:100%;
    }

    .container, .collection, .sale{
        grid-template-columns: repeat(1,1fr);
    }
}

/* tablet devices */

@media only screen and (max-width:992px){
    body{
        margin: 60px;
    }
    #navbar{
        display: none;
    }
    #camera-photo img{
        padding-left:0;
        width: 340px;
        height:314px;
        background-image: none;

    }
     .popular-collections, .sale{
        width:100%;
    }
    .popular-collections, .sale{
        width:100%;
}
.container, .collection, .sale{
    grid-template-columns: repeat(1,1fr);
}
}